In [2]:
import pandas as pd

y =pd.Period('2016') #creates object '2016'
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
m = pd.Period('2011-1', freq='M') #creates object 'm', based od month
m

Period('2011-01', 'M')

In [10]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [12]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [15]:
m + 1 #returns the month after Jan-> FEB

Period('2011-02', 'M')

In [18]:
d = pd.Period('2017-02-28', freq='D') #creates a day object 
d

Period('2017-02-28', 'D')

In [20]:
d = pd.Period('2016-02-28', freq='D') #2016-leapyear
d

Period('2016-02-28', 'D')

In [22]:
d+1 #returns the leap year -> 29.02.2016

Period('2016-02-29', 'D')

In [25]:
h = pd.Period('2016-02-28 23:00:00', freq='H') #returns an hour object 
h

Period('2016-02-28 23:00', 'H')

In [27]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [29]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [31]:
h+1

Period('2016-02-29 00:00', 'H')

In [33]:
h+pd.offsets.Hour(1) #adds the specified time provided in the brackets

Period('2016-02-29 00:00', 'H')

In [35]:
q = pd.Period('2017Q1') #returns a quarter period
q

Period('2017Q1', 'Q-DEC')

In [37]:
q + 1

Period('2017Q2', 'Q-DEC')

In [40]:
q = pd.Period('2017Q1', freq='Q-JAN') #custom quarter period
q

Period('2017Q1', 'Q-JAN')

In [42]:
q.start_time #starts quarter in FEB

Timestamp('2016-02-01 00:00:00')

In [44]:
q.asfreq('M', how="start")

Period('2016-02', 'M')

In [46]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [48]:
q2-q

In [54]:
idx = pd.period_range('2011','2017', freq='Q') #creates range sliced in quarters
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [55]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [56]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [58]:
idx = pd.period_range('2011',periods=10, freq='Q-JAN') #returns 10 periods sliced in quarters starting from 2011
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [60]:
import numpy as np

In [62]:
ps = pd.Series(np.random.randn(len(idx)), idx) # returns random values for quarters
ps

2011Q4   -2.239250
2012Q1   -0.863873
2012Q2   -0.139249
2012Q3    0.064344
2012Q4   -1.236974
2013Q1    0.476857
2013Q2   -2.462806
2013Q3   -0.628191
2013Q4    0.319823
2014Q1    0.183639
Freq: Q-JAN, dtype: float64

In [64]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [66]:
ps['2011':'2013']

2011Q4   -2.239250
2012Q1   -0.863873
2012Q2   -0.139249
2012Q3    0.064344
2012Q4   -1.236974
2013Q1    0.476857
2013Q2   -2.462806
2013Q3   -0.628191
2013Q4    0.319823
2014Q1    0.183639
Freq: Q-JAN, dtype: float64

In [68]:
pst = ps.to_timestamp() #converts to timestamp
pst

2010-11-01   -2.239250
2011-02-01   -0.863873
2011-05-01   -0.139249
2011-08-01    0.064344
2011-11-01   -1.236974
2012-02-01    0.476857
2012-05-01   -2.462806
2012-08-01   -0.628191
2012-11-01    0.319823
2013-02-01    0.183639
Freq: QS-NOV, dtype: float64

In [70]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [72]:
pst.to_period() #converts back to period index

2010Q4   -2.239250
2011Q1   -0.863873
2011Q2   -0.139249
2011Q3    0.064344
2011Q4   -1.236974
2012Q1    0.476857
2012Q2   -2.462806
2012Q3   -0.628191
2012Q4    0.319823
2013Q1    0.183639
Freq: Q-DEC, dtype: float64

In [83]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [84]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [85]:
df = df.T #transposing the quarterly data
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [86]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN') # setting PeriodIndex for the quarters
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [88]:
df['start date'] = df.index.map(lambda x: x.start_time) #lambda provides quick instructions for calling function
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [89]:
df['end time'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999