In [3]:
import pandas as pd

def convert_people_cell(cell): #function 
    if cell=="n.a.":
        return 'sam walton'
    return cell

def convert_eps_cell(cell): #function 
    if cell=="not available":
        return None
    return cell
                                                #when importing name of the sheet needs to be provided
df = pd.read_excel("stock_data.xlsx", "Sheet1", converters= {
        'people': convert_people_cell,           #calling function to replace "n.a" with sam walton
        'eps' : convert_eps_cell                 #calling function to replace "not available" with None
}) 
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [6]:
df.to_excel("new.xlsx",sheet_name="stocks", startrow=1, startcol=2, index=False) #writing it back to new excel file
#startrow and startcol are placing the displayed data at row nr 2 and column C

# Merging two files into one

In [7]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.28, 4.61, 2.12]
})

df_weather = pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32, 35, 28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [8]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer: #function to write two files into different sheets with names defined
    df_stocks.to_excel(writer, sheet_name= "stocks")
    df_weather.to_excel(writer, sheet_name= "weather")